.THIS.slds-modal {
    height : auto !important;
    max-height : 80% !important;
    overflow-y: auto;
}
.THIS.modal-body{
    height : 500px !important;
    max-height: 80% !important;
    overflow: auto;
}
.THIS.modal-container {
    max-height: 80% !important;
}
.THIS footer {
    display: inline-block;
    position: absolute;
    bottom: 5px;
}